// Bootstrap variable overrides
$body-bg: #161616;
$body-color: #CCCCCC;
$primary: #ffc905;
$dark: #000000;
$enable-rounded: false;
$font-family-sans-serif: "Montserrat", Montserrat, sans-serif;

// Google fonts
@import "https://fonts.googleapis.com/css?family=Montserrat";

// Include all of Bootstrap
@import "../bootstrap/scss/bootstrap";
@import "hacks.scss";

.dark-paper {
  background: #000000 url(../images/black-background.jpg) no-repeat center center;
}

.shiny-background {
  background: #000000 url(../images/media-background.jpg) no-repeat center center;  
}
