path {
  fill: transparent;
}
text {
  fill: #ffc905;
  font-size: 93px;
}

.judges-image {
  background-size: cover;
	background-clip: content-box;
  background-color: #FFF;
  box-sizing: border-box;
  position: relative;
  margin: auto;
}

.judges-image:before {
  content: "";
  display: block;
  position: absolute;
  border: 40px solid transparent;
  border-top: 40px solid #000;
  top: -40px;
  left: -40px;
  transform: rotate(135deg);
}

.judges-title {
  background-size: cover;
	background-clip: content-box;
  background-color: #FFF;
  box-sizing: border-box;
  position: relative;
  margin: auto;
}

.judges-title:after {
  content: "";
  display: block;
  position: absolute;
  border: 40px solid transparent;
  border-bottom: 40px solid #000;
  bottom: -40px;
  right: -40px;
  transform: rotate(135deg);
}

.border-3 {
    border-width:3px !important;
}
