<!-- Add you custom twig html here --><!-- Top Container -->
<div class="container">
  <div class="row px-0">
    <div class="col-12 col-lg-6 px-0 content-top-left">
      {{ content.top_left }}
    </div>
    <div class="col-12 col-lg-6 bg-primary px-4 py-2 content-top-left">
      {{ content.top_right }}
    </div>
  </div>
</div>

<!-- Judges Container -->
<div class="container px-5">
  {{ content.judges }}
</div>

<!-- Enter Now Container -->
<div class="row justify-content-center border-top border-bottom border-primary my-5 py-3 text-center border-3 dark-paper">
  {{ content.enter_now }}
</div>

<!-- Info Container -->
<div class="container px-5">
  <div class="row justify-content-center">
    {{ content.info }}
  </div>

</div>

<!-- Newsletter Container -->
<div class="container px-5">
  <h2 class="text-primary mt-5 mb-4 mx-3 text-center font-weight-bold">Sign Up
    for Our Newsletter</h2>
  <div class="mx-auto" style="width: 405px;">
    <form>
      <div class="form-row align-items-center">
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text bg-primary border-primary">Email:
              </div>
            </div>
            <input type="text" class="form-control border-primary" id="inlineFormInputGroup" placeholder="you@company.com">
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
        </div>
      </div>
    </form>
  </div>
</div>
