// Include all of Bootstrap
// import files
@import "import";
path {
  fill: transparent;
}
text {
  fill: $primary;
  font-size: 93px;
}
img {
  max-width: 100%;
  height: auto;
}
.judges-image {
  background-size: cover;
  background-clip: content-box;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  margin: auto;
}
.judges-image:before {
  content: "";
  display: block;
  position: absolute;
  border: 40px solid transparent;
  border-top: 40px solid #000;
  top: -40px;
  left: -40px;
  transform: rotate(135deg);
}
.judges-title {
  background-size: cover;
  background-clip: content-box;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  margin: auto;
}
.judges-title:after {
  content: "";
  display: block;
  position: absolute;
  border: 40px solid transparent;
  border-bottom: 40px solid #000;
  bottom: -40px;
  right: -40px;
  transform: rotate(135deg);
}
.border-3 {
  border-width: 3px !important;
}
.dark-paper {
  background: #000 url(../images/black-background.jpg) no-repeat center center;
}
.shiny-background {
  background: #000 url(../images/media-background.jpg) no-repeat center center;
}
#block-footer {
  a {
    &:after {
      content: " |";
      color: $body-color;

    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}
